<BODY BGCOLOR="#000000" LINK="#0000ff" VLINK="#ff0000" ALINK="#ff0000" TEXT="#f0ffff">

<p align=center>
<a href="jean-main4.htm" target="_self"><img src="../pics/marbl-lt.gif" border=0></a>
<a href="jean-main6.htm" target="_self"><img src="../pics/marbl-rt.gif" border=0></a>
</p>
<p align=center><IMG SRC="../art/jeanetic/tear2.gif" WIDTH=232 HEIGHT=197 BORDER=0></p>
