<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="Tom Paton's Homepage">

<!-- <body bgcolor="#ffffff" text="#993333" link="#339999" alink="#ff0000" vlink="#339999"> -->
<!--	rgb(255,255,255)	rgb(153,51,51)	rgb(51,153,153)	rgb(255,0,0)	rgb(51,153,153) -->

<style>
<!--

	body {
		margin: 5% 10% 5% 10%;
	}

	h1,h2,h3 {
		color: rgb(153,51,51);
		font-family: Copperplate Gothic Bold BT, serif;
		font-variant: small-caps;

	}
	h1 {
		font-weight: 900;
		font-size: 48pt;
/*		letter-spacing: -5pt;	*/
		border-width: 0 0 3px 0;
		border-color: rgb(153,51,51);
		border-style: solid;
	}
	h2 {
		font-weight: bold;
		font-size: 24pt;
		letter-spacing: -3pt;
		clear: both;
	}
	h3 {
		font-weight: normal;
		font-size: 16pt;
		letter-spacing: -1pt;
	}
	.link {
		clear: left;
	}
	.link2 {
		text-align: center;
		border-style: dotted;
		border-color: rgb(95,128,64);
		border-width: 3px 0px 1px 0px;
		padding: 3px 10px 3px 10px;
		clear: right;
		float: right;
		width: 175px;
	}

	.subsection {
		clear: both;
		padding: 0 0 0 15px;
	}

	.desc {
		padding: 0 0 0 10px;
	}

	.link .desc {
		padding: 0 0 0 10px;
		margin: 0 0 0 0px;
	}

	.menu {
		text-align: left;
		width: 100%;
	}
	.menuitem {
		color: rgb(153,51,51);
		font-family: Copperplate Gothic Bold BT, serif;
		font-variant: small-caps;
		font-weight: normal;
		font-size: 12pt;
		letter-spacing: -2pt;
		margin: 0 5pt 0 5pt;
	}
        .menu .menuitem a:link, .menu .menuitem a:visited
        {
			color: rgb(153,51,51);
			text-decoration: none;
        }

      a:link, a:visited
        {
                color:	rgb(51,153,153);
                text-decoration: none;
        }
      .link .desc a:link, .link .desc a:visited
        {
                color:	rgb(51,153,153);
                text-decoration: underline;
        }

      .link a:link, .link a:visited
        {
                color: rgb(51,153,153);
                text-decoration: none;
        }
        h2 a:link, h2 a:visited
        {
                color: rgb(153,51,51);
                text-decoration: none;
        }

        .link h3 a:link, .link h3 a:visited
        {
                color: rgb(153,51,51);
                text-decoration: none;
        }

-->
</style>
</head>

<body bgcolor="#ffffff" text="#993333" link="#339999" alink="#ff0000" vlink="#339999">
