/* SNIPPETS STYLESHEET
	written by Tom Paton, (C) 1999
*/

body {
	color: rgb(0,0,0);
	background-color: rgb(250,241,250);
	background-image: url(bg1_0.gif);
}

a:link {
	color: rgb(0,0,128);
	text-decoration: underline;
}
a:active {
	color: rgb(0,0,255);
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: rgb(0,0,128);
	text-decoration: none;
}
a:hover, a:focus {
	color: rgb(0,0,255);
	text-decoration: underline;
}

h1 {
	font-family: monospace;
	font-weight: 900;
	font-size: xx-large;
	letter-spacing: 3ex;
	text-align: center;

	border-style: solid;
	border-color: rgb(0,0,0);
	border-width: 2px 0px 1px 0px;

	padding-top: .5em;
	padding-bottom: .25em;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: .5em;
	margin-left: 0;
	margin-right: 0;
}

.item {
/*	background-color: transparent; */
	text-align: justify;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: .25em;
	padding-bottom: 1em;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 2%;
	border-style: solid;
	border-color: rgb(236,236,236);
	border-width: 0px 3px 0px 3px;

}

.item .item {
	text-align: justify;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: .25em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	border-style: none;
}

.title {
	background-color: transparent;
	font-family: sans-serif;
	font-style: italic;
	margin-top: 0;
	padding-top: 0;
}

.note {
	clear: both;
}

.quote .note {
	font-style: normal;
	padding-left: 3%;
	padding-right: 3%;
}
.quote {
	background-color: transparent;
	font-style: italic;
	font-family: serif;
	text-align: justify;
	margin-left: 0;
	margin-right: 0;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom: .5em;
	margin-top: .5em;
	padding-top: .5em;
	padding-bottom: .5em;
	clear: both;
}

.author, .source {
	background-color: transparent;
	text-align: right;
	clear: right;

	margin-left: 3%;
	margin-right: 3%;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;

	font-size: smaller;
	font-style: normal;
	font-family: sans-serif;
}

.quote .source, .quote .author {
	margin-left: 0;
	margin-right: 0;
}

.menu {
	padding-top: .25em;
	padding-bottom: .25em;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: 5%;
	margin-right: 5%;

	border-style: dashed;
	border-color: rgb(236,236,236);
	border-width: 1px 1px 1px 1px;

	text-align: center;

	font-family: monospace;
	font-size: smaller;
}

.footer {
	text-align: center;

	padding-top: 1em;
	padding-bottom: .5em;
	margin-top: 0;
	margin-bottom: 0;

	border-style: solid;
	border-color: rgb(0,0,0);
	border-width: 1px 0px 2px 0px;
}


