/* STYLESHEET 1
	uses painter textures etc.
	written by Tom Paton, (C) 1999
*/

h1, h2, h3, h4, h5, h6 {
	width: 100%;
	color: #000000;
	font-style: italic;
	font-family: serif;
	background-repeat: no-repeat;
}

h1 {
	background-image: url(bg1_1.gif);
	width: auto;
/*	margin-left: 5%;
	margin-right: 5%; */
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: sans-serif;
	font-weight: bold;
/*	text-align: center; */
	text-align: left;
	margin-bottom: 0;
}

h2 {
	background-image: url(bg1_1.gif);
	width:90%;
	margin-left: 5%;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}

h3 {
	background-image: url(bg1_2.gif);
	text-align: left;
}

.intro {
	text-align: justify;
	left-margin: 10%;
	right-margin: 10%;
}

.notes {
	text-align: justify;
/*	left-margin: 10%;
	right-margin: 10%;
	padding-left: 10%;
	padding-right: 10%; */
}

.desc {
	text-align: justify;
	left-margin: 10%;
	right-margin: 10%;
}

.section, .subsection {
	margin-left: 5%;
	padding-left: 5%;
	padding-right: 5%;
	margin-right: 5%;
}
.section{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.subsection{
	background-image: url(bg1_2.gif);
	background-repeat: no-repeat;
	text-align: justify;
}

.menu {
	font-family: serif;
	font-style: italic;
	font-weight: bold;
	margin-left=5%;
	margin-right=5%;
	padding-left=0px;
	padding-right=0px;
	width=100%;
	margin-top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.menu a:link, .menu a:visited {
	color: #000000;
}

.footer {
	width:90%;
	margin-left: 5%;
	background-image: url(bg1_1.gif);
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

/* For CSSDOCS.XML */
.property { font-family: monospace; }

.value { font-family: monospace }

.heading { font-size: larger; font-weight: bold }


body {
	color:#000000;
	background-image: url(bg1_0.gif);
	background-color:rgb(243,253,255);
}

a:link    {color:navy}
a:visited {color:navy; }
a:active  {color:blue; font-weight: bold}
a:hover { color: blue }
a:focus { color: blue }

a:link, a:visited, a:active {text-decoration: none}

