html {
}

body {
	font-family: Verdana, sans-serif;
	color: black;
	background: #c7d0d9; /*url("bg-body-4.png") top right repeat-y;*/
	margin: 1em;
}

h1 {
	font-size: 1.5em;
	clear: both;
/*	background: transparent url("bg-h2-2.png") bottom left repeat-x; */
}

h2 {
	font-size: 1.25em;
	clear: both;
/*	background: transparent url("bg-h2-2.png") center left repeat-x; */
}

h3 {
	font-size: 1.0em;
	clear: both;
/*	background: transparent url("bg-h2-2.png") center left repeat-x; */
}

table.basic {
/*	border: 2px solid #bbb; */
	background-color: #eee;
	font-size: 0.8em;
}

table.basic thead th {
/*	background-color: #bbb; */
	background: transparent url("bg-h2-2.png") center left repeat-x;
	text-align:left;
}

table.basic tbody tr:hover {
	background-color: #ddf; 
}

table.basic tbody th {
	text-align: left;
}


div.error {
	border: 1px solid red;
	color: red;
	padding: 1px;
	margin: 1px;
}