h1 {
	margin: 0em;
}
h2 {
	margin-top: 3em;
        clear:both;
}
div.years 
{
	font-size: 0.7em;
	margin-bottom: 1em;
}
div.years a {
	text-decoration: none;
}	
div.years a:hover {
	text-decoration: underline;
}	
div.albums {
	position: relative;
	height: 750px;
}
div.albums div.cover {
	position: absolute;
	border: 1px solid black;
}
div.albums div.cover img {
	width: 100%;
	height: 100%;
	border: none;
}
div.albums div.cover.noAlbum {
	border: 1px solid gray;
        background-color: rgba(255,255,255,0.20);
}
div.albums div.cover.noTrack {
	border: 1px solid silver;
        background-color: rgba(255,255,255,0.10);
}

div.albums div.track {
	position: absolute;
	left: 840px;
	width: auto;
	font-size: 8px;
}

div.albums div.track.noTrack {
	font-style: italic;
	color: gray;
}

div.albums div.track a {
	color: inherit;
	text-decoration: none;
}

div.albums div.track a:hover {
	color: blue;
	text-decoration: underline;
}

div.albums div.album:hover div.cover {
	border: 1px solid red;
}
div.albums div.album:hover div.track {
	color: red;
}
div.albums div.album:hover div.track a {
	color: red;
}
div.albums div.album:hover div.track a:hover {
	color: blue;
}
