<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="Tom Paton's Homepage">

<!-- <body bgcolor="#ffffff" text="#993333" link="#339999" alink="#ff0000" vlink="#339999"> -->
<!--	rgb(255,255,255)	rgb(153,51,51)	rgb(51,153,153)	rgb(255,0,0)	rgb(51,153,153) -->

<style>
<!--

	h1,h2,h3 {
		color: rgb(153,51,51);
		font-family: Copperplate Gothic Bold BT, serif;
		font-variant: small-caps;

	}
	h1 {
		font-weight: 900;
		font-size: 48pt;
/*		letter-spacing: -5pt;	*/
		border-width: 0 0 3px 0;
		border-color: rgb(153,51,51);
		border-style: solid;
	}
	h2 {
		font-weight: bold;
		font-size: 24pt;
		letter-spacing: -3pt;
		clear: both;
	}
	h3 {
		font-weight: normal;
		font-size: 16pt;
		letter-spacing: -1pt;
	}
	.link {
		clear: left;
	}
	.link2 {
		text-align: center;
		border-style: dotted;
		border-color: rgb(95,128,64);
		border-width: 3px 0px 1px 0px;
		padding: 3px 10px 3px 10px;
		clear: right;
		float: right;
		width: 175px;
	}

	.subsection {
		clear: both;
		padding: 0 0 0 15px;
	}

	.desc {
		padding: 0 0 0 10px;
	}

	.link .desc {
		padding: 0 0 0 10px;
		margin: 0 0 0 0px;
	}

	.menu {
		text-align: left;
		width: 100%;
	}
	.menuitem {
		color: rgb(153,51,51);
		font-family: Copperplate Gothic Bold BT, serif;
		font-variant: small-caps;
		font-weight: normal;
		font-size: 12pt;
		letter-spacing: -2pt;
		margin: 0 5pt 0 5pt;
	}
        .menu .menuitem a:link, .menu .menuitem a:visited
        {
			color: rgb(153,51,51);
			text-decoration: none;
        }

      a:link, a:visited
        {
                color:	rgb(51,153,153);
                text-decoration: none;
        }
      .link .desc a:link, .link .desc a:visited
        {
                color:	rgb(51,153,153);
                text-decoration: underline;
        }

      .link a:link, .link a:visited
        {
                color: rgb(51,153,153);
                text-decoration: none;
        }
        h2 a:link, h2 a:visited
        {
                color: rgb(153,51,51);
                text-decoration: none;
        }

        .link h3 a:link, .link h3 a:visited
        {
                color: rgb(153,51,51);
                text-decoration: none;
        }

-->
</style>

<script language="JavaScript">
<!-- hide this script from non-javascript-enabled browsers
if (document.images) {
Iwhole = new Image(123, 14);Iwhole.src = 'images/whole_bar.gif';
Iwholeo = new Image(123, 14);Iwholeo.src = 'images/whole_bar_over.gif';
Isplit = new Image(123, 14);Isplit.src = 'images/split_bar.gif';
Isplito = new Image(123, 14);Isplito.src = 'images/split_bar_over.gif';
Iimg_08_02 = new Image(132, 17);Iimg_08_02.src = 'images/iching-sb_08_02.gif';
Iimg_08_02o = new Image(132, 17);Iimg_08_02o.src = 'images/iching-sb_08_02_over.gif';
Iimg_09_02 = new Image(132, 21);Iimg_09_02.src = 'images/iching-sb_09_02.gif';
Iimg_09_02o = new Image(132, 21);Iimg_09_02o.src = 'images/iching-sb_09_02_over.gif';
Iimg_10_02 = new Image(132, 20);Iimg_10_02.src = 'images/iching-sb_10_02.gif';
Iimg_10_02o = new Image(132, 20);Iimg_10_02o.src = 'images/iching-sb_10_02_over.gif';
Iimg_11_02 = new Image(132, 21);Iimg_11_02.src = 'images/iching-sb_11_02.gif';
Iimg_11_02o = new Image(132, 21);Iimg_11_02o.src = 'images/iching-sb_11_02_over.gif';
Iimg_12_02 = new Image(132, 20);Iimg_12_02.src = 'images/iching-sb_12_02.gif';
Iimg_12_02o = new Image(132, 20);Iimg_12_02o.src = 'images/iching-sb_12_02_over.gif';
Iimg_13_02 = new Image(132, 21);Iimg_13_02.src = 'images/iching-sb_13_02.gif';
Iimg_13_02o = new Image(132, 21);Iimg_13_02o.src = 'images/iching-sb_13_02_over.gif';
Iimg_14_02 = new Image(132, 20);Iimg_14_02.src = 'images/iching-sb_14_02.gif';
Iimg_14_02o = new Image(132, 20);Iimg_14_02o.src = 'images/iching-sb_14_02_over.gif';
Iimg_15_02 = new Image(132, 20);Iimg_15_02.src = 'images/iching-sb_15_02.gif';
Iimg_15_02o = new Image(132, 20);Iimg_15_02o.src = 'images/iching-sb_15_02_over.gif';
Iimg_16_02 = new Image(132, 21);Iimg_16_02.src = 'images/iching-sb_16_02.gif';
Iimg_16_02o = new Image(132, 21);Iimg_16_02o.src = 'images/iching-sb_16_02_over.gif';
Iimg_17_02 = new Image(132, 20);Iimg_17_02.src = 'images/iching-sb_17_02.gif';
Iimg_17_02o = new Image(132, 20);Iimg_17_02o.src = 'images/iching-sb_17_02_over.gif';
Iimg_18_02 = new Image(132, 21);Iimg_18_02.src = 'images/iching-sb_18_02.gif';
Iimg_18_02o = new Image(132, 21);Iimg_18_02o.src = 'images/iching-sb_18_02_over.gif';
Iimg_19_02 = new Image(132, 21);Iimg_19_02.src = 'images/iching-sb_19_02.gif';
Iimg_19_02o = new Image(132, 21);Iimg_19_02o.src = 'images/iching-sb_19_02_over.gif';
Iimg_20_02 = new Image(132, 20);Iimg_20_02.src = 'images/iching-sb_20_02.gif';
Iimg_20_02o = new Image(132, 20);Iimg_20_02o.src = 'images/iching-sb_20_02_over.gif';
Iimg_21_02 = new Image(132, 21);Iimg_21_02.src = 'images/iching-sb_21_02.gif';
Iimg_21_02o = new Image(132, 21);Iimg_21_02o.src = 'images/iching-sb_21_02_over.gif';
Iimg_22_02 = new Image(132, 21);Iimg_22_02.src = 'images/iching-sb_22_02.gif';
Iimg_22_02o = new Image(132, 21);Iimg_22_02o.src = 'images/iching-sb_22_02_over.gif';
Iimg_23_02 = new Image(42, 16);Iimg_23_02.src = 'images/iching-sb_23_02.gif';
Iimg_23_02o = new Image(42, 16);Iimg_23_02o.src = 'images/iching-sb_23_02_over.gif';
Iimg_23_04 = new Image(40, 43);Iimg_23_04.src = 'images/iching-sb_23_04.gif';
Iimg_23_04o = new Image(40, 43);Iimg_23_04o.src = 'images/iching-sb_23_04_over.gif';
Iimg_23_05 = new Image(51, 16);Iimg_23_05.src = 'images/iching-sb_23_05.gif';
Iimg_23_05o = new Image(51, 16);Iimg_23_05o.src = 'images/iching-sb_23_05_over.gif';
Iimg_24_05 = new Image(7, 27);Iimg_24_05.src = 'images/iching-sb_24_05.gif';
Iimg_24_05o = new Image(7, 27);Iimg_24_05o.src = 'images/iching-sb_24_05_over.gif';
Iimg_25_02 = new Image(132, 14);Iimg_25_02.src = 'images/iching-sb_25_02.gif';
Iimg_25_02o = new Image(132, 14);Iimg_25_02o.src = 'images/iching-sb_25_02_over.gif';
}
function di(id,name){
  if (document.images) {document.images[id].src=eval(name+".src"); }
}

// function that displays status bar message

function dm(msgStr) {
  document.returnValue = false;
  if (document.images) {
     window.status = msgStr;
     document.returnValue = true;
  }
}
var showMsg = navigator.userAgent != "Mozilla/4.0 (compatible; MSIE 4.0; Mac_PowerPC)";
function dmim(msgStr) {
  document.returnValue = false;
  if (showMsg) {
    window.status = msgStr;
    document.returnValue = true;
  }
}

function dtri(){
	di('N_top_bar','Iwhole');
	di('N_middle_bar','Isplit');
	di('N_bottom_bar','Isplit');
}

function dtri1(){	// 111
	di('N_top_bar','Iwholeo');
	di('N_middle_bar','Iwholeo');
	di('N_bottom_bar','Iwholeo');
}
function dtri2(){	// 110
	di('N_top_bar','Iwholeo');
	di('N_middle_bar','Iwholeo');
	di('N_bottom_bar','Isplito');
}
function dtri3(){	// 010
	di('N_top_bar','Isplito');
	di('N_middle_bar','Iwholeo');
	di('N_bottom_bar','Isplito');
}
function dtri4(){	// 100
	di('N_top_bar','Iwholeo');
	di('N_middle_bar','Isplito');
	di('N_bottom_bar','Isplito');
}
function dtri5(){	// 000
	di('N_top_bar','Isplito');
	di('N_middle_bar','Isplito');
	di('N_bottom_bar','Isplito');
}
function dtri6(){	// 001
	di('N_top_bar','Isplito');
	di('N_middle_bar','Isplito');
	di('N_bottom_bar','Iwholeo');
}
function dtri7(){	// 101
	di('N_top_bar','Iwholeo');
	di('N_middle_bar','Isplito');
	di('N_bottom_bar','Iwholeo');
}
function dtri8(){	// 011
	di('N_top_bar','Isplito');
	di('N_middle_bar','Iwholeo');
	di('N_bottom_bar','Iwholeo');
}
function dindex_over(){
	di('Nimg_23_04','Iimg_23_04o');
	di('Nimg_24_05','Iimg_24_05o');
	di('Nimg_25_02','Iimg_25_02o');
	dm('index_m');
}
function dindex_out(){
	di('Nimg_23_04','Iimg_23_04');
	di('Nimg_24_05','Iimg_24_05');
	di('Nimg_25_02','Iimg_25_02');
	dm('');
}
function demail_over(){
	di('Nimg_23_02','Iimg_23_02o');
	di('Nimg_23_05','Iimg_23_05o');
	dm('email_m');
}
function demail_out(){
	di('Nimg_23_02','Iimg_23_02');
	di('Nimg_23_05','Iimg_23_05');
	dm('');
}

// stop hiding -->
</script>

</head>


<body bgcolor="#ffffff" text="#993333" link="#339999" alink="#ff0000" vlink="#339999">

<table border="0" cellpadding="0" cellspacing="0" width="160">
  <tr><!-- spacing row, 0 height. -->
   <td><img src="images/iching-sb_00.gif" width="6" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="4" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="38" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="40" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="7" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="38" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="5" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="1" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="4" height="1" border="0"></td>
   <td><img src="images/iching-sb_00.gif" width="16" height="1" border="0"></td>	<!-- space between image and content -->
   <td><img src="images/iching-sb_00.gif" width="550" height="1" border="0"></td>	<!-- wider to fit in content -->
  </tr>
  <tr><!-- row 01 -->
    <td rowspan="1" colspan="9"><img name="Nimg_01_01" src="images/iching-sb_01_01.gif" width="143" height="6" border="0"></td>
    <td rowspan="27" colspan="1"><img src="images/iching-sb_00.gif" width="16" height="1" border="0"></td>	<!-- space between image and content -->
    <td rowspan="27" colspan="1" valign="top">