h1, h2, h3, h4, h5, h6 {
	width: 100%;
	color: #000000;
	font-style: italic;
	font-family: serif;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
}

h1 {
	background-image: url(bg0.gif);
	width: auto;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	width:90%;
	margin-left: 5%;
	text-align: center;
/*	border-top-width: thin;
	border-right-width: thin;
*/
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}

h3 {
	background-image: url(bg2.gif);
	background-repeat: no-repeat;
	text-align: left;
/*	border-bottom-width: thin;
*/
}

.normaltext {
	text-align: justify;
	left-margin: 10%;
	right-margin: 10%;
}

.group, .linkgroup {
	margin-left: 5%;
	padding-left: 5%;
	padding-right: 5%;
	margin-right: 5%;
}
.group {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.linkgroup {
	background-image: url(bg2.gif);
	background-repeat: no-repeat;
	text-align: justify;
	width: 80%;
}

#headingmenu, #headingmenu2 {
	font-family: serif;
	font-style: italic;
	font-weight: bold;
	margin-top: 0;
	text-align: justify;
	width: auto;
	margin-left: 5%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#headingmenu a:link, #headingmenu a:visited, #headingmenu2 a:link, #headingmenu2 a:visited {
	color: #000000;
}

#headingmenu td, #headingmenu2 td {
	font-size: smaller;
	text-align: center;
}
#headingmenu td {
	font-size: larger;
}

#footer {
	width:90%;
	margin-left: 5%;
	background-image: url(bg0.gif);
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 0;
}


body {color:#000000;
      background-color:rgb(243,253,255);
	  }

a:link    {color:navy}
a:visited {color:navy; }
a:active  {color:blue; font-weight: bold}

a:link, a:visited, a:active {text-decoration: none}

