</td>
   <td><img src="child_00.gif" width="1" height="603" border="0"></td>
  </tr>
  <tr><!-- row 02 -->
    <td rowspan="1" colspan="1"></td>
   <td><img src="child_00.gif" width="1" border="0"></td>
  </tr>
</table>
<!-- Client side image map -->
<map name="child_01_01">
<area shape="rect" coords="144,235,185,600"  href="index.html"  onmouseover="dmim('The Beginning'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="71,576,144,598"  href="_statistics.html"  onmouseover="dmim('Hit statistics'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="109,550,144,571"  href="_notes.html"  onmouseover="dmim('Notes about this site'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="101,527,144,549"  href="_links.html"  onmouseover="dmim('Miscellaneous Links'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="96,504,144,524"  href="_books.html"  onmouseover="dmim('Books'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="92,478,144,502"  href="_music.html"  onmouseover="dmim('Music'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="108,459,144,480"  href="_course.html"  onmouseover="dmim('Course Information'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="86,432,144,457"  href="_software.html"  onmouseover="dmim('Applications and Development'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="80,413,144,432"  href="_hardware.html"  onmouseover="dmim('Hardware'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="78,388,144,408"  href="_internet.html"  onmouseover="dmim('WWW Sites and Design'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="56,363,144,386"  href="_recreation.html"  onmouseover="dmim('Sports and Recreation'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="80,341,144,362"  href="_content.html"  onmouseover="dmim('The Content'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="123,319,144,340"  href="_new.html"  onmouseover="dmim('New Links'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="71,296,144,318"  href="_favourites.html"  onmouseover="dmim('Favourite Links'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="103,273,144,294"  href="_search.html"  onmouseover="dmim('Quick Search Forms'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<area shape="rect" coords="112,254,144,272"  href="index.html"  onmouseover="dmim('The Beginning'); return document.returnValue;" onmouseout="dmim(''); return document.returnValue;">
<AREA SHAPE="DEFAULT" NOHREF></map>
</body>
</html>
