<h3>Minesweeper Instructions</h3>
<p>The object of minesweeper is to determine the locations of the mines <img src="mine.gif">  hidden in the grid.</p>
<p>There are 16 mines hidden in the 10x10 grid.<p>
<p>To begin, press 'New Game', Then choose a square...<p>
<p>A number in a square (eg <img src="one.gif">,<img src="three.gif">) indicates the number of adjacent mines to that square (diagonals are included).<p>
<p>To mark the location of a suspected mine, click the 'Mark' button until a flag is displayed in the box next to it, then click the location of the mine(s).  A flag <img src="flag.gif"> is displayed in all suspected location of mines in the grid.</p>
<p>When you have found all 16 mines, click the 'Done' button and the remainder of the screen is displayed, showing the undiscovered mines - <img src="mine.gif">, correct guesses - <img src="flagrite.gif"> and incorrect guesses - <img src="wrong.gif">.
	Click the 'New Game' button to play again.</P>


<h4>Credits</h4>
<p>Minesweeper was written in JavaScript for Netscape V3.0 by Tom Paton, (c) 1996 </P>
