<title>Minesweeper</title>
<FRAMESET COLS="60,40">
   <FRAME  SRC="mine2.htm" NAME="main">
   <FRAME  SRC="instruct.htm" NAME="instruct">
<NOFRAMES>
This document contains frames
<p>
<A href="../index.html">Back to my homepage </A>
<br><a href="mine2.html">Play minesweeper</a>
<br><a href="instruct.html">Instructions</a>


</NOFRAMES>
</FRAMESET>
