<head>
<title>Minesweeper</title>

<script>
<!-- Javascript starts here

// generic object maker prepares an empty array of n items
function makeArray() {
	return this
}

var gameState = 0;		// 0 - not started / lost
				// 1 - playing

var mark = 0;			// 1 - mark location of mines
var numMarked = 0;
var markX = new makeArray()
var markY = new makeArray()

var numbers = new makeArray()
numbers[-1] = new Image(); numbers[-1].src = "mine.gif"
numbers[0] = new Image(); numbers[0].src = "empty.gif"
numbers[1] = new Image(); numbers[1].src = "one.gif"
numbers[2] = new Image(); numbers[2].src = "two.gif"
numbers[3] = new Image(); numbers[3].src = "three.gif"
numbers[4] = new Image(); numbers[4].src = "four.gif"
numbers[5] = new Image(); numbers[5].src = "five.gif"
numbers[6] = new Image(); numbers[6].src = "six.gif"
numbers[7] = new Image(); numbers[7].src = "seven.gif"
numbers[8] = new Image(); numbers[8].src = "eight.gif"

var field = new makeArray()
var visited = new makeArray()
var stack = new makeArray()

var stack_top = 0; // 2015-09-22 this was originally 'top' but that no longer
                   // works in modern browsers as top refers to the topmost
                   // frame/window

function push(a) {
	stack[stack_top]=a;
	stack_top++;

	// if(stack_top>200) alert("stack overflow");
}

function pop() {
	stack_top--;
	// if(stack_top<0) alert("stack underflow");
	return stack[stack_top];
}

function empty() {
	if (stack_top==0) return 1;
	else return 0;
}

function random(range)
{
	return Math.floor(Math.random()*range);

}

function placeMine(m,n) {
	field[m+n*10] = -1;

	if(m>0)
	{
		if(field[(m-1)+(n)*10]>=0) field[(m-1)+(n)*10]++;

		if(n<9)
		{
			if(field[(m-1)+(n+1)*10]>=0) field[(m-1)+(n+1)*10]++;
		}
		if(n>0)
		{
			if(field[(m-1)+(n-1)*10]>=0) field[(m-1)+(n-1)*10]++;
		}
	}
	if(m<9)
	{
		if(field[(m+1)+(n)*10]>=0) field[(m+1)+(n)*10]++;

		if(n<9)
		{
			if(field[(m+1)+(n+1)*10]>=0) field[(m+1)+(n+1)*10]++;
		}
		if(n>0)
		{
			if(field[(m+1)+(n-1)*10]>=0) field[(m+1)+(n-1)*10]++;
		}
	}
	if(n<9)
	{
		if(field[(m)+(n+1)*10]>=0) field[(m)+(n+1)*10]++;
	}
	if(n>0)
	{
		if(field[(m)+(n-1)*10]>=0) field[(m)+(n-1)*10]++;
	}
}


function displayField() {
	for(x=0;x<10;x++)
	{
		for(y=0;y<10;y++)
		{
			document.images[x+y*10].src=numbers[field[x+y*10]].src;
			if(visited[x+y*10]==2)
			{
				if(field[x+y*10]==-1)
					document.images[x+y*10].src="flagrite.gif";
				else
					document.images[x+y*10].src="wrong.gif";
			}
				
		}
	}
}

function clearAround(x, y) {

	push(x);push(y);

	while(!empty()) {
		y=pop();	
		x=pop();
		
		if(x>=0 && y>=0 && x<=9 && y<=9 && visited[x+y*10]!=1)
		{
			if(visited[x+y*10]==2) 
			{
				displayField()
				document.images[x+y*10].src="wrong.gif";
				stack_top=0;
				return;
			}
			visited[x+y*10] = 1;

			document.images[x+y*10].src=numbers[field[x+y*10]].src;

			if(field[x+y*10]==0)
			{
				push(x-1);push(y-1);
				push(x);push(y-1);
				push(x+1);push(y-1);
				push(x-1);push(y);
				push(x+1);push(y);
				push(x-1);push(y+1);
				push(x);push(y+1);
				push(x+1);push(y+1);
			}
		}
	}
}

function clickedAt(x,y) {
	if(gameState==1)
	{
		if(mark==1)
		{
			if(visited[x+y*10]==0)
			{
				visited[x+y*10]=2;
				document.images[x+y*10].src="flag.gif";
				markX[numMarked]=x;
				markY[numMarked]=y;
				numMarked++;
			}
		}
		else if(field[x+y*10]==-1)
		{
			gameState=0;
			displayField();
			window.status = "Bad Luck! click New Game to try again.";
		}
		else
		{
			clearAround(x,y);
		}
	}
	else
	{
		window.status="click New Game to begin.";
	}		
}


function newGame() {
	gameState = 1;	// playing

	for(x=0;x<100;x++)
	{
		document.images[x].src = "blank.gif"
		field[x]=0
		visited[x]=0
	}

	for(x=0;x<16;x++)
	{
		m = random(10);
		n = random(10);

		while( field[m + n*10] == -1)
		{
			m = random(10);
			n = random(10);
		}

		placeMine(m,n);
	}
}

function markOn() {
	if(mark==0)
	{
		mark = 1;
		document.images[100].src="flag.gif";
	}
	else
	{
		mark=0;
		document.images[100].src="blank.gif";
	}
}

function initGame() {
	gameState= 0;

	for(i=0;i<100;i++)
	{
		field[i] = 0;
		visited[i] = 0;
		stack[i]=stack[i+100]=stack[i+200]=0;
	}
}

// ---- end -->
</script>

</head>
<BODY onLoad="initGame()" background="backgrnd.gif">

<table>
<tr>
<td>
<a href="javascript:clickedAt(0,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,0);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,1);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,2);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,3);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,4);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,5);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,6);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,7);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,8);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
<a href="javascript:clickedAt(0,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(1,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(2,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(3,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(4,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(5,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(6,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(7,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(8,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<a href="javascript:clickedAt(9,9);"><img src="blank.gif" width=16 height=16 border=0></a>
<br>
</td>

<td>
<tr>
<td align=middle>
<font size='4'>
<a href="javascript:markOn()">Mark<img src="blank.gif" align=middle width=24 height=24 border=0></a></p>
</td>
</tr>
<tr>
<td align=middle>
<font size='4'>
<a href="javascript:displayField();">Done</a></P>
</td>
<td>
<font size='4'>
<a href="javascript:newGame();">New Game</a></p>
</td>
</tr>
</td>
</tr>
</table>
