
<head><title>Tom Paton's Homepage</title>
<META name="description" content="Music, Books, Computer Hardware & Software, Culture Jamming, Politics, Economics, Alternative Technology and heaps more...">
<META name="keywords" content="contents,quick search,hit picks,site map,hardware,general,electronics,infrared,wacom tablet,software,applications,development,graphics,latex,windows,linux,beos,other,www,search,music,now playing,favourites,others,software,links,books,noam chomsky,edward de bono,john pilger,douglas rushkoff,to read/buy,other,course,course,my project,subjects,timetable,other,links,alternative technology,movies and cinema,cycling,economics,art,culture jamming,maths,misc,politics,privacy,radio and tv,contact">
</head>
<body bgcolor="#D8D0C8" text="#000000" link="#804000" alink="#ff8000" vlink="#804000">
<table noborder width="100%" bgcolor="#89463d">
<tr>
<td colspan=9><a name="top"><h1><font color="#D8D0C8">Tom Paton's Homepage</font></h1></a></td>
</tr>
<tr>
<td align=center><a href="#1_contents"><font color="#D8D0C8">Contents</font></a></td>
<td align=center><a href="#3_hardware"><font color="#D8D0C8">Hardware</font></a></td>
<td align=center><a href="#4_software"><font color="#D8D0C8">Software</font></a></td>
<td align=center><a href="#5_web"><font color="#D8D0C8">WWW</font></a></td>
<td align=center><a href="#6_music"><font color="#D8D0C8">Music</font></a></td>
<td align=center><a href="#7_books"><font color="#D8D0C8">Books</font></a></td>
<td align=center><a href="#8_course"><font color="#D8D0C8">Course</font></a></td>
<td align=center><a href="#9_links"><font color="#D8D0C8">Links</font></a></td>
<td align=center><a href="#contact"><font color="#D8D0C8">Contact</font></a></td>
</tr>
</table>
Welcome to my wandering homepage. Feel free to use it to begin your browsing as I do.  It is updated regularly as it has superceeded my bookmarks file.  Look out for an updated version generated on-the-fly with a CGI script as soon as I finish honours.
<br><center><font size=-1>For browsing pleasure, I suggest using <a href="http://www.operasoftware.com">Opera</a></font></center>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="1_contents"><font color="#D8D0C8"><em>Contents</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
<p><strong><a name="1_contentsweb30">Quick Search</a></strong>
<table border=0 width="100%"><tr><td width="50%">
<!-- Search Form's courtesy of Fravia's Sealight page -->
<FORM method=GET action="http://altavista.digital.com/cgi-bin/query">
<INPUT TYPE=hidden NAME=pg VALUE=q>
<INPUT TYPE=hidden NAME=what VALUE=web>
<INPUT TYPE=hidden NAME=fmt  VALUE="">
<INPUT NAME=q size=25 maxlength=200 VALUE="">
<INPUT TYPE=submit VALUE= "Altavista!">
</FORM>
</td><td width="50%">
<FORM METHOD=GET ACTION="http://search.yahoo.com/bin/search">
<INPUT SIZE=25 NAME=p> <INPUT TYPE=submit VALUE="Yahoo!">
</FORM>

</td></tr></table>
<p><strong><a name="1_contents2a2">Hit Picks</a></strong>
Currently enjoying:
<font size=-1>
<a href="http://www.tomshardware.com/">
Tom's Hardware Guide
</a>
 - 
<a href="http://www.operasoftware.com">
Opera
</a>
 - 
<a href="http://www.notetab.ch">
Notetab Pro
</a>
 - 
<a href="http://www.osopinion.com/">
OsOpinion
</a>
 - 
<a href="http://www.junkbusters.com/ht/en/ijb.html">
Internet Junkbuster Proxy
</a>
 - 
<a href="http://yoyo.cc.monash.edu.au/~mist/">
Michael Stillwell's Page
</a>
 - 
<a href="http://www.h2g2.com">
The Hitch Hiker's Guide to the Galaxy (Earth Edition)
</a>
 - 
<a href="http://www.metaspy.com/">
MetaSpy
</a>
 - 
<a href="http://www.cis.ohio-state.edu/~geiss/geiss.html">
Geiss Screensaver
</a>
 - 
<a href="http://www.adbusters.org/">
Adbusters
</a>
 - 
<a href="http://unamerican.com/">
Unamerican.com
</a>
 - 
<a href="http://www.phase-one.com.au/fravia/">
Fravia's pages of Reverse Engineering
</a>
</font>
<p><strong><a name="1_contents2a30">Site Map</a></strong>
<center><table width="80%" noborder><tr>
<td valign=top><a href="#3_hardware"><strong>Hardware</strong></a>
<br>&nbsp;&nbsp;&nbsp;<a href="#3_hardwarea">General</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#3_hardwareelectron">Electronics</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#3_hardwareinfrared">Infrared</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#3_hardwarezgraph">Wacom Tablet</a>
<td valign=top><a href="#4_software"><strong>Software</strong></a>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwareapps">Applications</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwaredev">Development</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwaregraph">Graphics</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwarelatex">LaTeX</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwareos">Windows</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwareos20">Linux</a>
<td valign=top>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwareos30">BeOS</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#4_softwareos40">Other</a>
<td valign=top><a href="#5_web"><strong>WWW</strong></a>
<br>&nbsp;&nbsp;&nbsp;<a href="#5_webweb20">Search</a>
</tr><tr>
<td valign=top><a href="#6_music"><strong>Music</strong></a>
<br>&nbsp;&nbsp;&nbsp;<a href="#6_musiccds1">Now Playing</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#6_musiccds2">Favourites</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#6_musiccds3">Others</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#6_musicmp3">Software</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#6_musictobuy">Links</a>
<td valign=top><a href="#7_books"><strong>Books</strong></a>
<br>&nbsp;&nbsp;&nbsp;<a href="#7_bookschomsky">Noam Chomsky</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#7_booksdebono">Edward De Bono</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#7_bookspilger">John Pilger</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#7_booksrushkoff">Douglas Rushkoff</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#7_bookstobuy">To Read/Buy</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#7_bookszother">Other</a>
<td valign=top><a href="#8_course"><strong>Course</strong></a>
<br>&nbsp;&nbsp;&nbsp;<a href="#8_courseb">Course</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#8_coursec">My Project</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#8_coursed">Subjects</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#8_coursee">Timetable</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#8_coursef">Other</a>
<td valign=top><a href="#9_links"><strong>Links</strong></a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linksalt_tech">Alternative Technology</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linkscinema">Movies and Cinema</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linkscycling">Cycling</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linkseconomy">Economics</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linksgraph">Art</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linksideas">Culture Jamming</a>
</tr><tr><td valign=top>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linksmath">Maths</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linksmisc">Misc</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linkspolitic">Politics</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linksprivacy0">Privacy</a>
<br>&nbsp;&nbsp;&nbsp;<a href="#9_linksradio">Radio and TV</a>
</tr></table></center>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="3_hardware"><font color="#D8D0C8"><em>Hardware</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
<p><strong><a name="3_hardwarea">General</a></strong>
<a href="http://www.tomshardware.com/">
Tom's Hardware Guide
</a>
 ~ 
<a href="http://sunsite.srce.hr/mirror/ftp.blackdown.org/hwb/menu_Connector.html">
Computer Connector Specs
</a>
 ~ 
<a href="http://www.webshopper.com/">
Webshopper
</a>
<p><strong><a name="3_hardwareelectron">Electronics</a></strong>
<a href="http://kitz.ozware.com/">
KitZ
</a>
 ~ 
<a href="http://www.siliconchip.com.au/">
Silicon Chip Magazine
</a>
 ~ 
<a href="http://kitz.ozware.com/ledpower.html">
KitZ - LED Power Meter for FM Bug tuning
</a>
 ~ 
<a href="http://www.dse.com.au/ExternalWeb/Technical/TechDocs.asp">
DSE - Technical Information
</a>
 ~ 
<a href="http://www.electronicsaustralia.com.au/">
Electronics Australia
</a>
 ~ 
<a href="http://physlab.web2010.com/amr/plans.htm">
Free Plans & Circuit Schematics
</a>
 ~ 
<a href="http://www.crhc.uiuc.edu/~dburke/databookshelf.html">
Datasheets
</a>
<p><strong><a name="3_hardwareinfrared">Infrared</a></strong>
<a href="http://www.amplicononline.com/Amplicon/index.icl">
Amplicon
</a>
 ~ 
<a href="http://www.animax.no/">
AnIR Ergonomic Infrared Mouse
</a>
 ~ 
<a href="http://www.evation.com/irman/">
IRMan
</a>
 ~ 
<a href="http://www.student.nada.kth.se/~d89-bga/hp48/">
HP48 IR Remote Control
</a>
 ~ 
<a href="http://www.geocities.com/SiliconValley/Sector/3863/infrared.html">
Universal IR Receiver
</a>
 ~ 
<a href="http://www.irda.org/">
IRDA.org
</a>
 ~ 
<a href="http://www.ziplabel.com/cir/index.html">
ZipLabel.Com Computerised IR Intro
</a>
 ~ 
<a href="http://www.actisys.com/ACT210.html">
ACTiSYS IR 2000L
</a>
 ~ 
<a href="http://www.eon3.com/">
Eon3 X10 Automation
</a>
 ~ 
<a href="http://www.x10.com/activehome.htm">
X10.com
</a>
 ~ 
<a href="http://www.snafu.de/~wehe/ir_misc.html#selfmade">
IR and Linux
</a>
 ~ 
<a href="http://fsinfo.cs.uni-sb.de/~columbus/lirc/">
LIRC - Linux IR Remote Control
</a>
 ~ 
<a href="http://www.mindwell.com/lirc/receivers.html">
IR Receiver Schematic
</a>
 ~ 
<a href="http://www.mindwell.com/lirc/transmitters.html">
IR Transmitter Schematic
</a>
 ~ 
<a href="http://www.armory.com/~spcecdt/remote/remote.html">
Serial IR Transceiver Schematic
</a>
 ~ 
<a href="http://www.ti.com/sc/docs/folders/analog/tslm1100.html">
Texas Instruments IR Transceiver
</a>
 ~ 
<a href="http://www.ti.com/sc/docs/folders/analog/tir1000.html">
Texas Instruments IRDA Encoder/Decoder
</a>
<p><strong><a name="3_hardwarezgraph">Wacom Tablet</a></strong>
<a href="http://www.wacom.co.jp/asia-pacific/">
Wacom
</a>
<a href="http://www.wacom.com/index2.html">
(US)
</a>
 ~ 
<a href="http://www.levien.com/free/linux_intuos.html">
Linux Support
</a>
 ~ 
<a href="http://www.xs4all.nl/~gfx/beos/">
BeOS Support
</a>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="4_software"><font color="#D8D0C8"><em>Software</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
<p><strong><a name="4_softwareapps">Applications</a></strong>
<a href="http://www.pegasus.usa.com/">
Pegasus Mail
</a>
 ~ 
<a href="http://www.operasoftware.com">
Opera
</a>
 ~ 
<a href="http://www.notetab.ch">
Notetab Pro
</a>
<p><strong><a name="4_softwaredev">Development</a></strong>
<a href="http://www.universalthread.com/">
Universal Thread
</a>
 ~ 
<a href="http://www.gaffer.org/ptc/old.html">
Prometheus Truecolour
</a>
 ~ 
<a href="http://www.tbl.org/w32demos.htm">
Win32 Demo Programming
</a>
 ~ 
<a href="http://www.hornet.org/">
The Hornet Archive
</a>
 ~ 
<a href="ftp://ftp.ccs.neu.edu/net/mirrors/ftp.funet.fi/pub/languages/perl/CPAN//index.html">
Perl
</a>
 ~ 
<a href="http://www.python.org/">
Python
</a>
 ~ 
<a href="http://members.xoom.com/thomasn/y_man.htm">
A Guide to Lex & Yacc
</a>
 ~ 
<a href="http://www.cs.cmu.edu/afs/cs/project/atk-ftp/bison/">
Bison
</a>
 ~ 
<a href="http://www.sgi.com/Technology/STL/index.html">
STL Programmer's Guide
</a>
 ~ 
<a href="http://www.gnu.ai.mit.edu/software/gcc/gcc.html">
The GCC Compiler
</a>
 ~ 
<a href="http://www.objsw.com/docs/gdb_toc.html">
Debugging with GDB
</a>
<p><strong><a name="4_softwaregraph">Graphics</a></strong>
<a href="http://www.corel.com/">
Corel
</a>
<a href="http://www.corel.com/products/graphicsandpublishing/draw8/main.htm">
Draw 8
</a>
 ~ 
<a href="http://www.fractal.com/">
Metacreations
</a>
 ~ 
<a href="http://www.fractal.com/galleries/iotd/">
Image of the Day Gallery
</a>
 ~ 
<a href="http://www.fractal.com/community/tips/index.html">
Tips and Tricks
</a>
 ~ 
<a href="http://desktoppublishing.com/tipspainter.html">
Painter Tips
</a>
 ~ 
<a href="http://home.earthlink.net/~athene/techniques/paintertiplinks.html">
Painter Techniques
</a>
 ~ 
<a href="http://www.mica.edu/painter/on_line/index.html">
Painter On-Line
</a>
 ~ 
<a href="http://www.artistrymag.com/">
Artistry online
</a>
 ~ 
<a href="http://spanky.triumf.ca/www/fractint/fractint.html">
Fractint
</a>
 ~ 
<a href="http://ourworld.compuserve.com/homepages/slijkerman/">
Ultra Fractal
</a>
 ~ 
<a href="http://www.gimp.org/">
The GIMP
</a>
 ~ 
<a href="http://come.to/PhotoScopio">
PhotoScopio
</a>
 ~ 
<a href="http://www.cs.monash.edu.au/~ash/rats/">
Soft RATS
</a>
<p><strong><a name="4_softwarelatex">LaTeX</a></strong>
<a href="http://www.emerson.emory.edu/services/latex/latex_toc.html">
LaTeX help
</a>
 ~ 
<a href="http://www.emerson.emory.edu/services/latex/latex2e/latex2e_toc.html">
LaTeX 2e Help
</a>
 ~ 
<a href="http://delta.colorado.edu/~lessem/latex/help/Catalogue/">
The TeX and LaTeX Catalogue
</a>
<p><strong><a name="4_softwareos">Windows</a></strong>
<a href="http://www.annoyances.org/win98/">
Windows 98 Annoyances
</a>
 ~ 
<a href="http://www.cam.org/~leonara/index.html">
Win95-98 Tip Center
</a>
 ~ 
<a href="http://www.litestep.net/">
litestep
</a>
 ~ 
<a href="http://www.LinuxMall.com/refund/">
Windows Refund
</a>
 ~ 
<a href="http://www.microsoft.com/presspass/features/1999/03-08custletter2.htm">
Microsoft Addresses Privacy Concerns
</a>
 ~ 
<a href="http://www.98lite.net/">
98lite
</a>
<p><strong><a name="4_softwareos20">Linux</a></strong>
<a href="http://jgo.local.net/LinuxGuide/">
Josh's Linux Guide
</a>
 ~ 
<a href="http://www.linuxmall.com/">
The Linux Mall
</a>
 ~ 
<a href="http://www.winehq.com/">
Wine Development HQ
</a>
 ~ 
<a href="http://www.xfree86.org/">
XFree86
</a>
 ~ 
<a href="http://www.redhat.com/">
Red Hat Software
</a>
 ~ 
<a href="http://www.osopinion.com/Opinions/GaneshCPrasad/GaneshCPrasad2.html">
The Practical Manager's Guide to Linux
</a>
<p><strong><a name="4_softwareos30">BeOS</a></strong>
<a href="http://www.be.com/">
BeOS
</a>
<p><strong><a name="4_softwareos40">Other</a></strong>
<a href="http://www.freedows.net/english/index.html">
Freedows '98
</a>
 ~ 
<a href="http://www.sasg.com/mui/index.html">
MUI Homepage
</a>
 ~ 
<a href="http://www.gnu.ai.mit.edu/philosophy/free-sw.html">
What is free software?
</a>
 ~ 
<a href="http://www.osopinion.com/">
OsOpinion
</a>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="5_web"><font color="#D8D0C8"><em>WWW</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
<a href="http://www.hotlinesw.com/">
Hotline Communications Ltd.
</a>
 ~ 
<a href="http://namespace.autono.net/">
Domain Name Registration
</a>
 ~ 
<a href="http://www.kingwww.com/spies.html">
Cool Javascript
</a>
 ~ 
<a href="http://www.afterlife.org/">
Afterlife.org
</a>
 ~ 
<a href="http://www.internettrafficreport.com/">
Internet Traffic Report
</a>
 ~ 
<a href="http://www.cruel.com/">
Cruel Site of the Day
</a>
 ~ 
<a href="http://www.junkbusters.com/ht/en/ijb.html">
Internet Junkbuster Proxy
</a>
 ~ 
<a href="http://www.tbtf.com/">
Tasty Bits from the Technology Front
</a>
 ~ 
<a href="http://www.TheCounter.com/">
TheCounter.com
</a>
 ~ 
<a href="http://hoohoo.ncsa.uiuc.edu/cgi/overview.html">
CGI Overview
</a>
 ~ 
<a href="http://babelfish.altavista.com/cgi-bin/translate">
AltaVista: Translations
</a>
 ~ 
<a href="http://yoyo.cc.monash.edu.au/~madmick/">
My old homepage
</a>
 ~ 
<a href="http://yoyo.cc.monash.edu.au/~mist/">
Michael Stillwell's Page
</a>
 ~ 
<a href="http://www.dumbentia.com/body_sins.html">
Sins of Motivational Posters
</a>
 ~ 
<a href="http://www.h2g2.com">
The Hitch Hiker's Guide to the Galaxy (Earth Edition)
</a>
 ~ 
<a href="http://www.tdv.com">
The Digital Villiage
</a>
 ~ 
<a href="http://www.monash.edu.au/cc/services/modems/win95/">
Windows 95 PPP to Monash
</a>
<p><strong><a name="5_webweb20">Search</a></strong>
<a href="http://www.infoseek.com/">
Infoseek
</a>
 ~ 
<a href="http://www.yahoo.com/">
Yahoo!
</a>
 ~ 
<a href="http://www.yahoo.com.au/">
Yahoo! Australia & NZ
</a>
 ~ 
<a href="http://www.altavista.com/">
Altavista
</a>
 ~ 
<a href="http://www.dejanews.com/home_ps.shtml">
Dejanews
</a>
 ~ 
<a href="http://www.phase-one.com.au/fravia/sear1197.htm">
Fravia's Search
</a>
 ~ 
<a href="http://www.phase-one.com.au/fravia/searengi.htm">
Fravia's Search 2
</a>
 ~ 
<a href="http://www.metaspy.com/">
MetaSpy
</a>
 ~ 
<a href="http://voyeur.mckinley.com/cgi-bin/voyeur.cgi">
Magellan Voyeur
</a>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="6_music"><font color="#D8D0C8"><em>Music</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
<p><strong><a name="6_musiccds1">Now Playing</a></strong>
The Disposable Heroes of Hiphoprisy, Liz Phair, Skunkhour, Ben Harper, Ben Lee, Blackeyed Susans, Even, Morphine, Nirvana, Red Hot Chilli Peppers, Spearhead, Stone Temple Pilots, The Cruel Sea, Weezer
<p><strong><a name="6_musiccds2">Favourites</a></strong>
Ani Di Franco - <font size=-1>Little Plastic Castles</font> 
~ <a href="http://granite.cyg.net/~dpitts/Harper/opening.html">Ben Harper</a> - <font size=-1>
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-HARPER*BEN/ddcn=SD-2439+44178+2">The Will to Live</a>, 
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-HARPER*BEN/ddcn=SD-2439+39320+2">Welcome To The Cruel World</a>, 
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-HARPER*BEN/ddcn=SD-2439+40620+2">Fight for your mind</a></font> 
~ Ben Lee - <font size=-1>Breathing Tornados, Something to Remember...</font> 
~ Blackeyed Susans - <font size=-1>Spin the Bottle, La Mascara</font> 
~ Brad - <font size=-1>Interiors</font> 
~ Cake - <font size=-1>Fashion Nugget, Prolonging The Magic</font> 
~ Even - <font size=-1>Come Again, Less is More</font> 
~ Everclear - <font size=-1>So Much for the Afterglow</font> 
~ Garbarge - <font size=-1>Garbage</font> 
~ Hunters and Collectors - <font size=-1>Cut, Demon Flower</font> 
~ Lemonheads - <font size=-1>Car Button Cloth, Come On Feel</font> 
~ Mark Seymour - <font size=-1>King Without a Clue</font> 
~ <a href="http://www.amazon.com/exec/obidos/ts/artist-glance/38444/m/qid=916966509/sr=2-3/002-7737887-8174857">Morp</a><a href="http://www.rykodisc.com/RykoInternal/Features/121/Default.htm">hine</a> - <font size=-1>Like Swimming</font> 
~ Nirvana - <font size=-1>Nevermind, Unplugged in NY</font> 
~ Paul Kelly - <font size=-1>Songs From the South</font> 
~ Pearl Jam - <font size=-1>No Code, Ten, VS, Vitalogy, Yield</font> 
~ <a href="http://members.aol.com/Juvenilia/lizphair.html">Liz</a> <a href="http://www.lizphair.com/index.htm">Ph</a><a href="http://valmccown.com/lizphair1.html">air</a> - <font size=-1>
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-PHAIR*LIZ/ddcn=SD-7777+53554+2#RSTONE">whitechocolatespaceegg</a></font> 
~ Radiohead - <font size=-1>OK Computer, The Bends</font> 
~ Rebecca's Empire - <font size=-1>The Way of All Things</font> 
~ Red Hot Chilli Peppers - <font size=-1>Blood Sugar Sex Magic</font> 
~ Regurgitator - <font size=-1><a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-REGURGITATOR/ddcn=SD-7599+46509+2">Tu Plang</a></font>
~ Sidewinder - <font size=-1>Tangerine</font> 
~ <a href="http://imusic.com/showcase/modern/skunkhour.html">Skunkhour</a> - <font size=-1>Chin Chin, Feed, Skunkhour</font> 
~ Soundgarden - <font size=-1>Down on the Upside, Superunknown</font> 
~ Soundtracks - <font size=-1>Deadman Walking</font> 
~ Spearhead - <font size=-1>
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-SPEARHEAD/ddcn=SD-7777+29113+2">Home</a>, 
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-SPEARHEAD/ddcn=SD-7777+31959+2">Chocolate Supa Highway</a></font> 
~ Stone Temple Pilots - <font size=-1>Core, Purple</font> 
~ The Cruel Sea - <font size=-1><a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-CRUEL+SEA/ddcn=MSI-M57156">Over Easy</a>, <a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-CRUEL+SEA/ddcn=MSI-M112137">Three Legged Dog</a>, 
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-CRUEL+SEA/ddcn=MSI-M112138">The Honeymoon is Over</a></font> 
~ The Disposable Heroes of Hiphoprisy - <font size=-1><a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ArtistID=FRN-DISPOSABLE+HEROES+OF+HIPHOPRISY/ddcn=SD-73143+4043+2">Hipocrisy is the</a> <a href="http://www.amazon.com/exec/obidos/ts/artist-glance/120129/qid=914377538/002-9609272-6937061">Greatest Luxury</a></font>
~ The Foo Fighters - <font size=-1>The Colour and the Shape</font> 
~ The Tea Party - <font size=-1>The Edges of Twilight, Transmission</font> 
~ The Whitlams - <font size=-1>Eternal Nightcap</font> ~ Tool - <font size=-1>Aenima</font> 
~ Weezer - <font size=-1>Weezer</font> 
~ You Am I - <font size=-1>Hourly Daily</font>
<p><strong><a name="6_musiccds3">Others</a></strong>
Bjork, Crowded House, Jane's Addiction, Jebediah, Live, Pink Floyd, Pollyanna, Powderfinger, Rail, Recovery, Regurgitator, Skunkanansie, Smashing Pumpkins, Something For Kate, Spider Bait, The Cure, The Lucksmiths, The Mavis's, The Superjesus, Triple J, U2
<p><strong><a name="6_musicmp3">Software</a></strong>
<a href="http://www.audioforge.net/">
The Audio Forge
</a>
 ~ 
<a href="http://www.winamp.com/">
WinAmp
</a>
 ~ 
<a href="http://www.xaudio.com/wplay/">
WPlay
</a>
 ~ 
<a href="http://www.modplug.com/">
ModPlug
</a>
<a href="http://www.modplug.com/modplug/tracker.shtml">
(Tracker)
</a>
 ~ 
<a href="http://www.mp3.com">
mp3.com
</a>
 ~ 
<a href="http://cdcopy.actadivina.com/">
CD Copy
</a>
 ~ 
<a href="http://www.cis.ohio-state.edu/~geiss/geiss.html">
Geiss Screensaver
</a>
 ~ 
<a href="http://www.nirvis.com/">
Nirvis - Slink-e, CDJ
</a>
 ~ 
<a href="http://escient.com/tunebase.htm">
TuneBase
</a>
 ~ 
<a href="http://www.cddb.com/">
CDDB
</a>
<p><strong><a name="6_musictobuy">Links</a></strong>
<a href="http://www.amazon.com/exec/obidos/ts/artist-glance/76180/m/qid=916966591/sr=2-1/002-7737887-8174857">
Us3
</a>
 ~ 
<a href="http://www.amazon.com/exec/obidos/ts/artist-glance/57289/qid=916966652/002-7737887-8174857">
Urban Species
</a>
 ~ 
<a href="http://www.amazon.com/exec/obidos/ASIN/B00000C2CU/m/qid=917429497/sr=2-1/002-1421369-3723250">
Henry Rollins: Think Tank
</a>
 ~ 
<a href="http://www.amazon.com/exec/obidos/ts/artist-glance/58875/ref=sim_artist_detail/002-1421369-3723250">
Noam Chomsky
</a>
 ~ 
<a href="http://www.publicenemy.com">
Public Enemy
</a>
 ~ 
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/album.html/ddcn=MUZE-144402">
Sly & The Family Stone - Stand!
</a>
 ~ 
<a href="http://www.cdnow.com/cgi-bin/mserver/SID=1136936192/pagename=/RP/CDN/FIND/biography.html/ArtistID=FRN-GRANDMASTER+FLASH+&+FURIOUS+5">
Grandmaster Flash & Furious 5
</a>
 ~ 
<a href="http://www.rykodisc.com/">
Rykodisc Records
</a>
 ~ 
<a href="http://www.amws.com.au/index.html">
Australian Music WWW
</a>
 ~ 
<a href="http://imusic.interserv.com/">
iMusic
</a>
 ~ 
<a href="http://www.abc.net.au/triplej/triplej.htm">
Triple J
</a>
<a href="http://www.abc.net.au/triplej/tours.htm">
(Tours)
</a>
<a href="http://www.abc.net.au/triplej/festivals.htm">
(Festivals)
</a>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="7_books"><font color="#D8D0C8"><em>Books</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
<p><strong><a name="7_bookschomsky">Noam Chomsky</a></strong>
<a href="http://www.geocities.com/Vienna/1520/">
Noam Chomsky Online References
</a>
 ~ 
<a href="http://www.worldmedia.com/archive/index.html">
The Chomsky Archive
</a>
<p><strong><a name="7_booksdebono">Edward De Bono</a></strong>
<a href="http://www.edwdebono.aust.com/debono/home.htm">
Books
</a>
 ~ 
<a href="http://www.edwdebono.aust.com/debono/fcreate.htm">
Creative Team
</a>
<p><strong><a name="7_bookspilger">John Pilger</a></strong>
Hidden Agendas
<a href="gopher://gopher.igc.apc.org:70/00/pubs/nation.gopher/9">
"Land of the Dead"
</a>
 ~ 
<a href="http://www.zip.com.au/~nlevine/pilger.htm">
The Pilger Archive
</a>
<p><strong><a name="7_booksrushkoff">Douglas Rushkoff</a></strong>
Media Virus! Hidden Agendas in Popular Culture
<a href="http://www.levity.com/rushkoff/index.html">
Douglas Rushkoff
</a>
<p><strong><a name="7_bookstobuy">To Read/Buy</a></strong>
<a href="http://www.amazon.com/exec/obidos/ASIN/039330891X/r/002-6525416-5443805">
How Much Is Enough? : The Consumer Society and the Future of the Earth
</a>
 ~ 
<a href="http://www.amazon.com/exec/obidos/ASIN/1886093040/r/002-6525416-5443805">
Stuff : The Secret Lives of Everyday Things
</a>
 ~ 
<a href="http://www.amazon.com/exec/obidos/ASIN/0767902513/002-6525416-5443805">
A Walk in the Woods : Rediscovering America on the Appalachian Trail
</a>
 ~ 
<a href="http://www.amazon.com/exec/obidos/ASIN/0553277375/o/qid=919747665/sr=2-1/002-8869149-8059810">
Future Shock
</a>
 ~ 
<a href="http://www.psych.indiana.edu/cogsci/hofstadter.html">
Douglas Hofstadter
</a>
 ~ 
<a href="http://www.amazon.com/exec/obidos/ISBN%3D0465045669/sandrewswannA/002-6865888-2883441">
Metamagical Themas
</a>
<p><strong><a name="7_bookszother">Other</a></strong>
<a href="http://www.bibliomania.com/NonFiction/Freud/Dreams/index.html">
Freud: The Interpretation of Dreams
</a>
 ~ 
<a href="http://www.cs.cmu.edu/books.html">
The On-Line Books Page
</a>
 ~ 
<a href="http://www.bibliomania.com/">
BIBLIOMANIA
</a>
 ~ 
<a href="http://www.amazon.com">
Amazon.com
</a>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="8_course"><font color="#D8D0C8"><em>Course</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
<p><strong><a name="8_courseb">Course</a></strong>
I am currently doing
<a href="http://www.csse.monash.edu.au/hons/">
Honours
</a>
in
<a href="http://www.csse.monash.edu.au/">
Computer Science
</a>
at
<a href="http://www.monash.edu.au/">
Monash University
</a>
<p><strong><a name="8_coursec">My Project</a></strong>
&quot;Parsing Visual Languages&quot;
with
<a href="http://www.cs.monash.edu.au/~marriott/">
Kim Marriott
</a>
and
<a href="http://www.cs.monash.edu.au/~css/">
Sitt Sen Chok
</a>
<a href="http://www.cs.monash.edu.au/~css/projects/penguins/">
(Penguins Project)
</a>
 ~ 
Links:
<a href="http://www.cs.washington.edu/research/constraints/">
UW Constraint-Based Languages and Systems
</a>
 ~ 
<a href="http://www.cs.washington.edu/research/constraints/ui/">
Papers -- Constraints and User Interfaces
</a>
 ~ 
<a href="http://cuiwww.unige.ch/Visual/">
WWW Virtual Library: Visual Languages and Visual Programming
</a>
 ~ 
<a href="http://www.cs.unh.edu/ccc/archive/">
Constraints Archive
</a>
<p><strong><a name="8_coursed">Subjects</a></strong>
Semester 2, 1998
CSC417 Communications and Research Skills
CSC423 Cryptography
CSC425 Learning and Prediction
CSC433 Parallel Systems
Semester 1, 1999
<a href="http://www.csse.monash.edu.au/hons/1999/417.html">
CSC417 Communications and Research Skills
</a>
 ~ 
<a href="http://www.csse.monash.edu.au/hons/1999/426.html">
CSC426 Natural Language Processing
</a>
 ~ 
<a href="http://www.cs.monash.edu.au/~damian/Idioms/">
CSC428 Object Oriented Idioms in C++
</a>
<a href="http://www.csse.monash.edu.au/hons/1999/428.html">
(2)
</a>
<a href="http://www.cs.monash.edu.au/~damian/Idioms/General/html/detailedguide.html">
(Guide)
</a>
 ~ 
<a href="http://www.csse.monash.edu.au/hons/1999/4892.html">
CSC4892 Information Security
</a>
<p><strong><a name="8_coursee">Timetable</a></strong>
<a href="http://www.csse.monash.edu.au/hons/1999/subjects.html">
All Subjects
</a>
 ~ 
<a href="???">
Just Mine
</a>
 ~ 
<a href="http://www.csse.monash.edu.au/hons/1999/S1dates.html">
Due Dates
</a>
<p><strong><a name="8_coursef">Other</a></strong>
<a href="http://library.monash.edu.au/">
Library
</a>
 ~ 
<a href="http://www.lib.monash.edu.au/er/">
ERD
</a>
 ~ 
<a href="http://www.csse.monash.edu.au/seminars/">
Seminars
</a>
<a href="http://www.cs.monash.edu.au/cgi-bin/seminar?forthcoming">
(Forthcoming)
</a>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="9_links"><font color="#D8D0C8"><em>Links</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
Well, it's nearly all links, but here are the ones that don't fit so easily:
<p><strong><a name="9_linksalt_tech">Alternative Technology</a></strong>
<a href="http://www.argonet.co.uk/users/bobsier/inde.html">
Stirling Engine and Hot Air Engine
</a>
 ~ 
<a href="http://members.aol.com/tstirlingo/">
A Stirling Engine Mecca
</a>
 ~ 
<a href="http://www.stirlingengine.com">
American Stirling Co.
</a>
 ~ 
<a href="http://solstice.crest.org/renewables/dish-stirling/">
A Compendium of Solar Dish/Stirling Technology
</a>
 ~ 
<a href="http://www.stirlingenergy.com/">
SES
</a>
 ~ 
<a href="http://www.greenfuels.org/ethindex.html">
Ethanol Information Centre
</a>
<a href="http://www.greenfuels.org/ethahist.html">
(History of Ethanol)
</a>
 ~ 
<a href="http://www.dowmus.com/home.html">
DOWMUS
</a>
 ~ 
<a href="http://www.sunpower.com/">
Sunpower, Inc.
</a>
 ~ 
<a href="http://www.ata.org.au/">
Alternative Technology Association
</a>
<p><strong><a name="9_linkscinema">Movies and Cinema</a></strong>
<a href="http://www.hoyts.com.au/main.html">
Hoyts
</a>
 ~ 
<a href="http://www.imdb.com/">
The Internet Movie Database
</a>
 ~ 
<a href="http://www.ticketek.com.au/">
Ticketek
</a>
 ~ 
<a href="http://www.ticketmaster.com.au/">
Ticket Master
</a>
<p><strong><a name="9_linkscycling">Cycling</a></strong>
<a href="http://home.vicnet.net.au/~bnt/">
Australia's Bicentennial National Trail
</a>
 ~ 
<a href="http://www.bv.com.au/">
Bicycle Victoria
</a>
 ~ 
<a href="http://www.ozemail.com.au/~bicycle/depart.html">
Cycling Links - Departure Lounge
</a>
 ~ 
<a href="http://www.cyclery.com/index.html">
CYBER CYCLERY: Internet Bicycling Hub
</a>
<p><strong><a name="9_linkseconomy">Economics</a></strong>
<a href="http://www.publiccom.com/web/ithacahour/">
Ithaca Hour
</a>
 ~ 
<a href="http://www.soc.titech.ac.jp/icm/">
The Virtual Library on Microcredit
</a>
 ~ 
<a href="http://www.grameen.com/">
The Official Grameen Bank Website
</a>
 ~ 
<a href="http://www.grameenfoundation.org/">
Grameen Foundation USA
</a>
 ~ 
<a href="http://www.killdevilhill.com/adamsmithchat/wwwboard.html">
Adam Smith - On the Wealth of Nations
</a>
 ~ 
<a href="http://www.adamsmith.org.uk/">
The Adam Smith Institute
</a>
 ~ 
<a href="http://www.bibliomania.com/NonFiction/Smith/Wealth/index.html">
Adam Smith: The Wealth of Nations
</a>
 ~ 
<a href="http://sosig.esrc.bris.ac.uk/NewEconomics/">
New Economics
</a>
<p><strong><a name="9_linksgraph">Art</a></strong>
<a href="http://www.stuff-art.com.au/">
Stuff-Art
</a>
 ~ 
<a href="http://www.anat.org.au/">
Australian Network for Art and Technology
</a>
 ~ 
<a href="http://www.screenarts.net.au/">
Screenarts
</a>
<p><strong><a name="9_linksideas">Culture Jamming</a></strong>
<a href="http://www.worldtrans.org/">
World Transformation
</a>
 ~ 
<a href="http://www.adbusters.org/campaigns/tvoff-zentv.html">
The Zen TV Experiment
</a>
 ~ 
<a href="http://www.adbusters.org/campaigns/tvoff-trance.html">
Media Trance
</a>
 ~ 
<a href="http://www.adbusters.org/campaigns/tvoff-index.html">
Turn Off Your TV
</a>
 ~ 
<a href="http://www.adbusters.org/campaigns/tvoff-shock.html">
Adbusters - ?
</a>
 ~ 
<a href="http://www.essential.org/orgs/tvfa">
TV Free America
</a>
 ~ 
<a href="http://www.whitedot.org/welikeit.html">
White Dot
</a>
 ~ 
<a href="http://www.junkbusters.com/">
Junkbusters
</a>
 ~ 
<a href="http://www.junkbusters.com/ht/en/script.html">
Anti-telemarketing Script
</a>
 ~ 
<a href="http://www.technorealism.org/">
Technorealism
</a>
 ~ 
<a href="http://www.eff.org/">
The Electronic Frontier Foundation
</a>
 ~ 
<a href="http://www.webbindustries.com/spotlight/fedres.htm">
The Fraudulent Nature of the Federal Reserve System
</a>
 ~ 
<a href="http://www.adbusters.org/campaigns/economic-inflation.html">
Adbusters - Economic Inflation
</a>
 ~ 
<a href="http://www.adbusters.org/campaigns/economic-globalscheme.html">
Adbusters - Global Scheme
</a>
 ~ 
<a href="http://calvo.teleco.ulpgc.es/cyphernomicon/cyphernomicon.contents.html">
Cyphernomicon
</a>
 ~ 
<a href="http://www.disinfo.com/">
|d|i|s|i|n|f|o|r|m|a|t|i|o|n|
</a>
 ~ 
<a href="http://clix.net/5thworld/5thwnew/home/index_h.html">
Fifth World, Amsterdam
</a>
 ~ 
<a href="http://www.abrupt.org/">
ABRUPT
</a>
 ~ 
<a href="http://www.theonion.com/">
The Onion
</a>
 ~ 
<a href="http://www.thesmokinggun.com/">
The Smoking Gun
</a>
 ~ 
<a href="http://Slate.com/">
The Slate
</a>
 ~ 
<a href="http://slashdot.org/">
SlashDot
</a>
 ~ 
<a href="http://www.userfriendly.org/">
User Friendly
</a>
 ~ 
<a href="http://www.rtmark.com/">
RTmark
</a>
 ~ 
<a href="http://www.adbusters.org/">
Adbusters
</a>
 ~ 
<a href="http://unamerican.com/">
Unamerican.com
</a>
 ~ 
<a href="http://www.protest.net/">
Protest.net
</a>
 ~ 
<a href="http://www.edge.org/">
www.edge.org
</a>
 ~ 
<a href="http://www.ecr.mu.oz.au/~amorton/cmass.html">
Critical Mass, Melbourne
</a>
 ~ 
<a href="http://www.gn.apc.org/rts/socid.htm">
RTS: The Social Ideology of the Motorcar
</a>
 ~ 
<a href="http://www.gn.apc.org/rts/">
Reclaim the Streets!
</a>
 ~ 
<a href="http://www.phase-one.com.au/fravia/">
Fravia's pages of Reverse Engineering
</a>
<p><strong><a name="9_linksmath">Maths</a></strong>
<a href="http://www.astro.virginia.edu/~eww6n/math/CubicEquation.html">
Cubic Equation
</a>
 ~ 
<a href="http://www.mathscript.pair.com/equations.html">
MathScript Homepage
</a>
 ~ 
<a href="http://www.integrals.com/">
The Integrator
</a>
<p><strong><a name="9_linksmisc">Misc</a></strong>
<a href="http://www.cp-tel.net/miller/BilLee/quotes/index.html">
BilLee's Fabulous Quotes Pages
</a>
<a href="http://www.cp-tel.net/miller/BilLee/quotes/Ford.html">
(Henry Ford)
</a>
 ~ 
<a href="http://www.ford.com/archive/intro.html">
Ford Motor Co.
</a>
 ~ 
<a href="http://www.hfmgv.org/index.html">
Henry Ford Museum
</a>
 ~ 
<a href="http://www.acs.edu.au/courses.htm">
Australian Correspondence Schools
</a>
 ~ 
<a href="http://mprofaca.cro.net/mainmenu.html">
Mario's Cyberspace Station
</a>
 ~ 
<a href="http://starlink-dss.com/cidney.html">
?
</a>
 ~ 
<a href="http://www.sff.net/people/SASwann/nomic/nomicpge.htm">
Links about Nomic
</a>
 ~ 
<a href="http://www.cse.unsw.edu.au/~malcolmr/nomic/FAQ.html">
Nomic FAQ
</a>
 ~ 
<a href="http://www.edcredit.com.au/home/index.html">
EDCredit
</a>
 ~ 
<a href="http://www.law.flinders.edu.au/tax/">
Australian Tax Index
</a>
 ~ 
<a href="http://jobs.ninemsn.com.au">
Seek
</a>
 ~ 
<a href="http://weather.yahoo.com/forecast/Melbourne_AU_c.html">
Melbourne Weather Forecast
</a>
 ~ 
<a href="http://www.mattfischer.com/ramen/recipe.html">
Ramen Recipes
</a>
 ~ 
<a href="http://soar.berkeley.edu/recipes/">
SOAR: Searchable Online Archive of Recipes
</a>
 ~ 
<a href="http://www.cleanup.com.au/">
Cleanup Australia Day
</a>
<p><strong><a name="9_linkspolitic">Politics</a></strong>
<a href="http://www.freetimor.com/links.html">
East Timor links
</a>
<p><strong><a name="9_linksprivacy0">Privacy</a></strong>
<a href="http://www.whitepages.com.au/">
Australian White Pages
</a>
 ~ 
<a href="http://www.whitepages.com.au/cgi-bin/map?cfg=wp&lang=e&type=g&action=map&ADDRESS=PATON+T;::40:STRELDEN:AVE::CLAYTON:3168:VIC;3;03+9544-6892;1146">
Scary!
</a>
 ~ 
<a href="http://consumer.net/">
Consumer.Net
</a>
<a href="http://consumer.net/analyze/">
- Analyzer
</a>
 ~ 
<a href="http://www.privacy.org/">
Privacy.org
</a>
 ~ 
<a href="http://www.anonymizer.com/3.0/index.shtml">
Anonymizer
</a>
 ~ 
<a href="http://www.helie.com/BrowserCheck/">
Does Your Browser Give Out Your Email Address?
</a>
 ~ 
<a href="http://www.deadlineonline.com/4PeopleFinding.html">
People Finding
</a>
 ~ 
<a href="http://www.deadlineonline.com/4PeopleFinding.html">
Background Tracking
</a>
 ~ 
<a href="http://lpwa.com:8000/">
The Lucent Personalized Web Assistant
</a>
 ~ 
<a href="http://www.junkbusters.com/ht/en/links.html">
Junkbusters Links
</a>
 ~ 
<a href="http://www.2048.com/">
www.2048.com
</a>
 ~ 
<a href="http://www.junkbusters.com/cgi-bin/privacy">
Junkbusters: Alert on Web Privacy
</a>
<p><strong><a name="9_linksradio">Radio and TV</a></strong>
<a href="http://www.abc.net.au/">
ABC Online
</a>
 ~ 
<a href="http://www.abc.net.au/triplej/triplej.htm">
Triple J
</a>
 ~ 
<a href="http://www.sbs.com.au/">
SBS
</a>
 ~ 
<a href="http://www.laughradio.com.au">
Laugh Radio 89.9fm
</a>
 ~ 
<a href="http://www.abc.net.au/rn/">
Radio National
</a>
 ~ 
<a href="http://www.abc.net.au/rn/talks/bbing/index/bbsubjectidx.htm">
Background Briefing Alphabetical Index
</a>
 ~ 
<a href="http://www.abc.net.au/ola/citizen/eplist.htm">
The Good Citizen
</a>
</p>&nbsp;<table noborder width="100%" cellspacing=0>
<tr bgcolor="#89463d">
<td align=left width="50%"><a name="contact"><font color="#D8D0C8"><em>Contact</em></font></a></td>
<td align=right width="50%"><a href="#top"><font color="#D8D0C8"><em>Top</em></font></a></td>
</tr>
</table>
This page is automatically generated by a program that I wrote in Microsoft Visual FoxPro v6.0 from a database containing links and text.
<br>If you find any broken links, have any questions or something that you think may be of interest to me, feel free to email me at
<a href="mailto:tomp@cs.monash.edu.au">
tomp@cs.monash.edu.au
</a>
<p><table noborder width="100%" cellspacing=0>
<tr>
<td width="33%" bgcolor="#89463d" align=left><font color="#D8D0C8"><a name="contact">Tom Paton's Homepage</a></font></td>
<td width="34%" bgcolor="#89463d" align=center><font color="#D8D0C8">Updated: Sunday, 23 May 1999</font></td>
<td width="33%" bgcolor="#89463d" align=right><font color="#D8D0C8"><em><a href="#top">Top</a></em></font></td>
</tr>
</table>
<br>Currently, you have a choice of <em>285</em> links from this page.  Enjoy.
</body>